---
title: Onboarding
---
extends layouts/_layout
block content
	+header('', 'header__burger_dark')
	.product
		.product__head
			.product__center.center
				.product__wrap
					.product__stage.stage(data-aos="animation-scale-y") Featured Work
					h1.product__title.title.h1(data-aos="animation-scale-y" data-aos-delay="150") Wixels Onboarding Application.
					.product__info.h5(data-aos="animation-scale-y" data-aos-delay="300") End to end onboarding solution
				.product__box.product__box_show(data-aos="animation-translate-y")
					.product__category Services Provided
					ul.product__list
						li Cloud hosting
						li White-labeled branding
						li HCM Integration
						li PWA or Mobile application implementation
		.product__bg
			.video-block
				video(src="https://storage.googleapis.com/wixels-com/onboarding.mp4" style="width:100%;position:absolute;top:50%;transform:translate(0,-50%);left:0;" muted playsinline loop autoplay)
				.product__body
		.product__body
			.product__center.center
				.product__box.product__box_hide(data-aos="animation-scale-y")
					.product__category Services Provided
					ul.product__list
						li Discovery & Strategy
						li Branding
						li Communication
						li User Interface
				.product__row
					.product__overview.h4(data-aos="animation-scale-y") Overview
					.product__content.content(data-aos="animation-scale-y" data-aos-delay="200")
						p The on-boarding platform has been built to service the HR administrative team, reducing the repetitive tasks, and automating a number of backend functionalities in relation to pre and post on-boarding.
						p Engaging, media rich, and gamified on-boarding journeys are easily created on our user friendly CMS.
						p User information is verified for accuracy and, through integrations, all forms, company benefit selections, and signatures are able to be competed by a user through the application; easily trackable and actionable by the HR team through the CMS.
				.product__preview
					img.product__pic.js-parallax(data-scale="1.6" data-orientation="right" src="img/product-pic-1.jpg" alt="")
				.product__review
					.product__author(data-aos="animation-scale-y")
						.product__ava
							img.product__pic(src="img/eoh-logo.png" alt="")
						.product__details
							.product__man.h5 EOH
							.product__company HR Manager
					.product__text.h4(data-aos="animation-scale-y" data-aos-delay="200") “Previously we would spend hours manually managing new recruits onboarding, from contracts to medical aid selections. This application has automated all of that! We can, now, spend our time focusing the onboarding EXPERIENCE!”
	.discover
		.discover__center.center
			h2.discover__title.h1(data-aos="animation-scale-y") Discover.
			.discover__row
				.discover__item(data-aos="animation-scale-y")
					.discover__category.h5 Highlights.
					ul.discover__list
						li Automated forms and signing.
						li Easy to use, low admin.
						li Integration in to most HCM systems.
				.discover__item(data-aos="animation-scale-y" data-aos-delay="200")
					.discover__category.h5 Features.
					ul.discover__list
						li Extract text from any document.
						li Keep track of in progress and outstanding tasks.
						li Create video, rating, survey, signing, and more, tasks.
		.discover__circles
		+figures
	.desc
		.desc__center.center
			.desc__head
				.desc__title.h4(data-aos="animation-scale-y") Task Based
				.desc__content.content(data-aos="animation-scale-y" data-aos-delay="200")
					p Our on-boarding platform is based on customisable user journeys, from pre on-boarding all the way through to induction and on the job training (Through integration with other LMS Platforms).
					p Task are assignable to user groups or to individual users. Task types may include: Surveys, Forms, Videos, Documents or custom developed tasks (using HTML).
		.desc__center.center
			.desc__head
				.desc__title.h4(data-aos="animation-scale-y") Rewards System
				.desc__content.content(data-aos="animation-scale-y" data-aos-delay="200")
					p Our on-boarding platform comes ready with a gamified rewards system. Each task that is created in the platform is ready for a points value to be added to it. Driving the desired behaviour in the application.
					p Integrations into addtional reward and recognition platforms is possible, allowing users to redeem points for physical rewards (i.e. Branded merch, leave days, canteen items etc...)
			.desc__list
		.desc__center.center
			.desc__head
				.desc__title.h4(data-aos="animation-scale-y") ML Document Scanning
				.desc__content.content(data-aos="animation-scale-y" data-aos-delay="200")
					p The on-boarding platform comes with document scanning functionality, with the ability to scan, extract and verify data from drivers licenses, ID books, ID cards and passports.
					p This feature is made possible through Machine Learning and OCR technologies.
			.desc__list
		.desc__center.center
			.desc__head
				.desc__title.h4(data-aos="animation-scale-y") Digital Signatures
				.desc__content.content(data-aos="animation-scale-y" data-aos-delay="200")
					p Through the use of our on-boarding platform, as well as the company's existing HCM, we are able to pre-populate physical forms such as contacts, Medical aid forms, EE declaration forms, etc..
					p Through partnership with Impression Signatures we are able to have users digitally sign these pre-populated forms for storage on the HCM, or to be sent directly to external providers.
			.desc__list
				mixin descPreview(src, delay)
					.desc__preview(data-aos="animation-translate-y" data-aos-delay=delay)
						img.desc__pic(src=src alt="")
				+descPreview('img/desc-pic-1.jpg', '')
				+descPreview('img/desc-pic-2.jpg', '200')
				+descPreview('img/desc-pic-3.jpg', '')
				+descPreview('img/desc-pic-4.jpg', '200')
			.desc__btns(data-aos="animation-scale-y")
				button.desc__btn.btn.btn_dark
					+i('arrow-left')
					span.btn__text Prev
				button.desc__btn.btn.btn_purple
					span.btn__text Next
					+i('arrow-right')
	.wrapper.wrapper_gradient
		.cases.cases_other
			.cases__center.center
				.cases__stage.stage(data-aos="animation-scale-y") You may also like
				h2.cases__title.h1(data-aos="animation-scale-y" data-aos-delay="200") Our <br>Products.
				.cases__container
					.cases__slider.owl-carousel.js-slider-cases
						mixin casesItem(src, title, subtitle, delay, link)
							a.cases__item(data-aos="animation-translate-y" data-aos-delay=delay href=link+".html")
								.cases__preview
									img.cases__pic(src=src alt="")
									.cases__box Case <br>Study
								.cases__body
									h4.cases__info.h4=title
									.cases__text=subtitle
						+casesItem('img/cases-pic-2.jpg', 'Digger App', 'AI Recruitment tool', '200', 'diggerapp')
						+casesItem('img/cases-pic-3.jpg', 'IWIN', 'An Integrated Learning Management System', '', 'iwin')
						+casesItem('img/cases-pic-4.jpg', 'EOH CEO Awards', 'A rewards and recognition management tool', '200', 'ceoawards')
			.cases__figures
				.cases__figure
					img.cases__pic.js-parallax(data-scale="1.6" data-orientation="up" src="img/figure-2.png" alt="")
				.cases__figure
					img.cases__pic.js-parallax(data-scale="1.4" data-orientation="down" src="img/figure-3.png" alt="")
		+wrapperDark
